

body {
    color : #18d26e;
    color : #EA7468;

    color : #73c5eb; 
    color : #71e89a;
    
    color : #209dd8;
    color : #20bf57;

    color : #31a9e1;
    color : #24d361;

    color : #47b2e4;
    color : #3ae977;
    

    color : #6bc1e9;
    color : #65de90;

    color: #37517e;
    color:#1cb98b

    color rgba(40, 58, 90, 0.9);
    color: #169e75;
    


  }

  