.contenedor {
    display: flex;
    margin-top: 2.5%;
}

.div-izquierda {
    background-color: #CCCCCC;
    /* Puedes ajustar el ancho del div izquierdo cambiando el valor de width */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.div-derecha {
    background-color: #fff;
    /* El div derecho ocupará el espacio restante */
    flex: 1;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.option {
    display: flex;
    margin-bottom: 25px;
}

.logo {
    display: flex;
}

.seed-ventures {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #1cb98b; /* Color verde personalizado */
    margin: auto; /* Margen superior e inferior de 50px, centrado horizontalmente */
}

.general {
    margin-top: 50px;
}

.option-img {
    width: 30px;
    height: 30px;
}

.option-text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black; /* Color verde personalizado */
    margin: auto; /* Margen superior e inferior de 50px, centrado horizontalmente */
    margin-left: 20%;
}
