{{> header}}

<style>

    .project-creation-container-unique {
        max-width: 800px;
        margin: 50px auto;
        padding: 30px 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .project-name-unique {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 50px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }
</style>



{{! <!-- ======= Breadcrumbs ======= --> }}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <br><br>
        <h2>Create Project</h2>

    </div>
</section><!-- End Breadcrumbs -->


<!-- Project creation container -->
<!-- Project creation container -->
<div class="container project-creation-container-unique">
    <h1 class="project-name-unique">New project</h1>
    <form action="/createProject" method="post" enctype="multipart/form-data"> <!-- Add enctype attribute for file uploads -->
        <div class="form-group">
            <label for="project-name-unique">Project title</label>
            <input type="text" id="project-name-unique" placeholder="Project title" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label for="categories">Category</label>
            <select id="categories" name="category" class="form-control">
                {{#categories}}
                    <option value="{{.}}">{{.}}</option>
                {{/categories}}
            </select>
        </div>
        <div class="form-group">
            <label for="project-url-unique">Project URL</label>
            <input type="text" id="project-url-unique" placeholder="Project URL" class="form-control" name="url" required>
        </div>
        <div class="form-group">
            <label for="project-goal-unique">Amount needed</label>
            <input type="number" id="project-goal-unique" placeholder="Amount needed" class="form-control" name="goal" required>
        </div>
        <div class="form-group">
            <label for="project-description-unique">About this project</label>
            <textarea id="project-description-unique" class="form-control" rows="5" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="project-images-unique">Project Images</label>
            <input type="file" id="project-images-unique" name="file" multiple class="form-control" accept="image/*">
            <small class="form-text text-muted">Maximum upload size: 2MB per image</small>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}">
        <button type="submit" class="btn btn-primary">Upload Project</button>
    </form>
</div>

{{> footer}}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>


<!-- Bootstrap core JavaScript-->
<script src="assets/assets2/vendor/jquery/jquery.min.js"></script>
<script src="assets/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="assets/assets2/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="assets/assets2/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="assets/assets2/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="assets/assets2/js/demo/chart-area-demo.js"></script>
<script src="assets/assets2/js/demo/chart-pie-demo.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>


<script>
    const select = document.getElementById("categories");
    for(const key in Category){

    }


    $(document).ready(function() {
        // Initialize Swiper
        var swiper = new Swiper('.portfolio-details-slider', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

        // Upload slide button click event
        $('#upload-slide-btn').click(function() {
            $('#new-slide-input').click();
        });

        // New slide input change event
        $('#new-slide-input').on('change', function(event) {
            var fileInput = $(this)[0];
            var file = fileInput.files[0];

            if (file) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    var imageSrc = e.target.result;
                    swiper.appendSlide(`<div class="swiper-slide"><img class = "responsive-image" src="${imageSrc}" alt=""></div>`);
                    swiper.update(); // Actualizar Swiper para que reconozca los nuevos slides
                };

                reader.readAsDataURL(file);
            }
        });
    });
</script>


</html>