{{> header}}
<main>
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <br><br><br>
          <h2>New project</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->
  
      <!-- ======= Portfolio Details Section ======= -->
  
      <div class="row gy-4 create-project-form" >
        <div class="col-lg-8">
          <div id = "slides" class="portfolio-details-slider swiper">
            <!-- Slides container -->
            <div  class="swiper-wrapper align-items-center">
  
            </div>
              <!-- Pagination -->
              <div  class="swiper-pagination"></div>
          </div>
          
          <!-- Input field and button to upload new slide -->
          <input type="file" id="new-slide-input" class="form-control" accept="image/*" hidden>
          <button id="upload-slide-btn" class="btn btn-primary" type="submit">Upload slide</button>
  
        </div>
      
        
        <div class="col-lg-4">
          <div class="portfolio-info">
            <input type="text" id="project-name" placeholder="Project title" class="form-control">
            <ul>
              <li><strong>Category</strong>: <input type="text" name="category" class="form-control" required></li>
              <li><strong>Owner</strong>: <input type="text" name="owner" class="form-control" required></li>
              <li><strong>Project date</strong>: <input type="date" name="project_date" class="form-control" required></li>
              <li><strong>Project URL</strong>: <input type="text" name="project_url" class="form-control"></li>
              <li><strong>Amount needed</strong>: <input type="number" name="amount_needed" class="form-control"></li>
  
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>About this project</h2>
            <textarea name="description" class="form-control" rows="5" required></textarea>
          </div>
          <button id="upload-project-btn" class="btn btn-primary">Upload Project</button>
        </div>
      </div>
  
    </main><!-- End #main -->


{{> footer}}