<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SeedVentures</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Favicons -->
    <link href="/img/hero-img.png" rel="icon">
    <link href="/img/hero-img.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Arsha
    * Updated: Jan 29 2024 with Bootstrap v5.3.2
    * Template URL: https:/bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https:/bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top" style="background-color: #1cb98b">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="/">SeedVentures</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="/" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

        {{#user}}
        <nav id="navbar" class="navbar">
            <ul>
              <li class="li-nav">
                <a class="nav-container" href="/landing-page">
                  <img class="nav-img" src="/img/profile/dashboard.png">
                  <p class="nav-text">Dashboard</p>
                </a>
              </li>
              <li class="li-nav">
                <a class="nav-container" href="ranking.html">
                  <img class="nav-img" src="/img/profile/ranking.png">
                  <p class="nav-text">Ranking</p>
                </a>
              </li>
              <li class="li-nav">
                <a class="nav-container" href="/createProject/">
                  <img class="nav-img" src="/img/profile/upload.png">
                  <p class="nav-text">Upload proyect</p>
                </a>
              </li>
              <li class="li-nav">
                <a class="nav-container" href="/myProjects">
                  <img class="nav-img" src="/img/profile/dashboard.png">
                  <p class="nav-text">My projects</p>
                </a>
              </li>
              <li class="dropdown"><a href="#"><img class="profile-img" src="https://localhost:8443/users/{{id}}/profile" alt="Foto de Perfil"></a>
                <ul>
                    <li>
                        <a href="/editProfile/{{id}}" class="profile-link">
                            <img class="option-img" src="/img/profile/user.png">
                            <p class="option-text">Profile</p>
                        </a>
                    </li>
                    <li>
                        <form action="/logout" method="post" class="logout-link">
                            &nbsp;&nbsp;&nbsp;
                            <button type="submit" class="logout-button">
                                <img class="option-img" src="/img/profile/logout.png">
                                <p class="logout-text logout-text-right">Log out</p>
                            </button>
                            <input type="hidden" name="_csrf" value="{{token}}">
                        </form>
                    </li>
                </ul>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        {{/user}}
        {{^user}}
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link   scrollto" href="#portfolio">Projects</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a  id="login" class="getstarted scrollto" href="/login" >Log in</a></li>
                {{#user}}
                <li><a  id="login" class="getstarted scrollto" href="/login" >Log in</a></li>
                {{/user}}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        {{/user}}


    </div>
</header><!-- End Header -->


