{{>header}}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <br><br>
        <h2>Dashboard</h2>

    </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <form class="search-form">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="bi bi-search"></i></button>
            <button type="button" class="filter-button" id="filter1">Technology</button>
            <button type="button" class="filter-button" id="filter2">Books</button>
            <button type="button" class="filter-button" id="filter3">Music</button>
            <button type="button" class="filter-button" id="filter4">Art</button>
        </form>

        {{#projects}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <a href="project-details/{{id}}/">
                        <div class="portfolio-img"><img src="https://localhost:8443/projects/{{id}}/images/1" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>{{name}}</h4>
                            <p>{{category}}</p>
                            <a class="details-link" title="More Details">

                                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                                    <input type="checkbox">
                                    <div class="bookmark">
                                        <svg viewBox="0 0 32 32">
                                            <g>
                                                <path
                                                        d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </label>
                            </a>

                        </div>
                    </a>
                </div>
            {{/projects}}

        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-primary" >See all projects</a>
            </div>
        </div>

    </div>
</section><!-- End Portfolio Section -->

{{> footer}}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>
</html>
