{{>header}}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <br><br>
        <h2>Dashboard</h2>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Trending Proyects</h2>
            <p>These projects are killing it !!</p>
        </div>

        <div id="projects-container" class="grid-container" data-aos="fade-up" data-aos-delay="200">

            {{> portfolio}}

        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a id="load-more-btn" class="btn btn-primary" data-page="0">Load more</a>
            </div>
        </div>

    </div>
</section><!-- End Portfolio Section -->



{{> footer}}


