{{> header}}

  <main>

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <br><br>
        <h2>Dashboard</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <form class="search-form">
          <input type="text" placeholder="Search...">
          <button type="submit"><i class="bi bi-search"></i></button>
          <button type="button" class="filter-button" id="filter1">Technology</button>
          <button type="button" class="filter-button" id="filter2">Books</button>
          <button type="button" class="filter-button" id="filter3">Music</button>
          <button type="button" class="filter-button" id="filter4">Art</button>
        </form>        

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <a href="portfolio-details.html">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-img"><img src="assets/img/kf/MENU-DONER-KEBAP-7.jpg" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <a class="details-link" title="More Details">

                  <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                    <input type="checkbox">
                    <div class="bookmark">
                      <svg viewBox="0 0 32 32">
                        <g>
                          <path
                            d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                          </path>
                        </g>
                      </svg>
                    </div>
                  </label>
                </a>
              </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>

            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <a href="portfolio-details.html">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a class="details-link" title="More Details">

                <label class="ui-bookmark" style="position: absolute; top: 0; right: 0;">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </a>
        </div>

      </div>
      <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-primary" href="#">Load more</a>
        </div>
      </div>

      </div>
    </section><!-- End Portfolio Section -->
  </main>

{{> footer}}
