<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Error</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #1cb98b;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="error-container">
    <img src="/img/hero-img.png" alt="Error Image" class="error-image">
    <h2 class="error-name-unique"><span>Oops!</span> Incorrect Credentials </h2>
    <p>You should try again with a different name or password.</p>
    <a href="/login" class="error-name-unique">Go back</a>
</div>
</body>
</html>