{{> header}}



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <br><br>
        <div class="container">
            <h2>{{project.name}}</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">


            <div class="row gy-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xl font-weight-bold text-info text-uppercase mb-1">Raised Money
                                </div>
                                <div class="row no-gutters align-items-center">

                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 10%"
                                                 aria-valuenow="{{project.currentAmount}}"
                                                 aria-valuemin="0" aria-valuemax="{{project.goal}}"></div>
                                            <script>
                                                var percentage = ({{project.currentAmount}} / {{project.goal}}) * 100;
                                                document.querySelector('.progress-bar').style.width = percentage + '%';
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{project.currentAmount}}
                                            € / {{project.goal}}€
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div id="carrusel" class="swiper-wrapper align-items-center">
                            {{#project.images}}
                                <div class="swiper-slide">
                                    <img src="https://localhost:8443/projects/{{project.id}}/images/{{-index}}" alt="">
                                </div>
                            {{/project.images}}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>{{project.name}}</h3>
                        <ul>
                            <li><strong>Category</strong>: {{project.category}}</li>
                            <li><strong>Owner</strong>: {{project.owner}}</li>
                            <li><strong>Project date</strong>: {{project.date}}</li>
                            <li><strong>Project URL</strong>: <a href="#">{{project.url}}</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>About this project</h2>
                        <p>
                            {{project.description}} <br><br>
                        </p>
                    </div>
                </div>


                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="portfolioText">Donations over time</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="myAreaChart" width="512" height="400"
                                            style="display: block; height: 320px; width: 410px;"
                                            class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="portfolioText">Donations by user</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <canvas id="myPieChart" width="342" height="306"
                                            style="display: block; height: 245px; width: 274px;"
                                            class="chartjs-render-monitor"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Put the cursor over the sector to see the donors
                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {{#user}}

                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h5 class="portfolioText">Help this project grow</h5>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                             aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <form class="formnd justify-content-center">
                                                    <input class="inputnd" id="howmuch" type="number" name="search"
                                                           placeholder="0" min="0"/>
                                                </form>
                                            </div>

                                        </div>


                                        <div class="row justify-content-center">
                                            <button class="buttonnd">
                                                <p class="textnd">Donate now</p>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {{/user}}


                <!-- Comments section-->
                <div class="comments-section">
                    <h2>Comentarios</h2>

                    {{#user}}
                        <form action="/project-details/{{project.id}}/comment" method="post" class="comment-form">
                            <textarea name="text" placeholder="Escribe tu comentario aquí..."></textarea>
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                            <button type="submit">Enviar</button>
                        </form>
                    {{/user}}

                    <div class="comment-container">
                        {{#project.comments}}
                            <div class="comment">
                                <img class="profile-pic" src="https://via.placeholder.com/50x50" alt="Profile picture">

                                <div class="comment-author">{{user}}</div>
                                <div class="comment-text">{{text}}</div>
                            </div>
                        {{/project.comments}}
                        <!-- More comments go here -->
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

{{> footer}}



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<!-- Bootstrap core JavaScript-->
<script src="/assets2/vendor/jquery/jquery.min.js"></script>
<script src="/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/assets2/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/assets2/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/assets2/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/assets2/js/demo/chart-area-demo.js"></script>
<script src="/assets2/js/demo/chart-pie-demo.js"></script>
<script>cargarlatarta({{{donors}}}, {{{quantities}}})</script>
<script>cargarelarea()</script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>







