{{> header}}
<div class="case">
    <h1 class="rankingTitle">TOP INVESTORS</h1>
    <div class="podium">
        <div class="column">
            <h2 class="name" style="margin-top: 75px;">{{inv2}}</h1>
            <p>{{inv2am}}€ invested</p>
            <div class="bar" style="background-color: #C0C0C0;"></div>
        </div>
        <div class="column">
            <h2 class="name">{{inv1}}</h1>
            <p>{{inv1am}}€ invested</p>
            <div class="bar" style="background-color: #FFD700;"></div>
        </div>
        <div class="column">
            <h2 class="name" style="margin-top: 150px;">{{inv3}}</h1>
            <p>{{inv3am}}€ invested</p>
            <div class="bar" style="background-color: #CD7F32;""></div>
        </div>
    </div>
</div>
<div class="case">
    <h1 class="rankingTitle">TOP PROJECTS</h1>
    <div class="podium">
        <div class="column">
            <h2 class="name" style="margin-top: 75px;">{{pro2}}</h1>
            <p>{{pro2am}}€ raised</p>
            <div class="bar" style="background-color: #C0C0C0;"></div>
        </div>
        <div class="column">
            <h2 class="name">{{pro1}}</h1>
            <p>{{pro1am}}€ raised</p>
            <div class="bar" style="background-color: #FFD700;"></div>
        </div>
        <div class="column">
            <h2 class="name" style="margin-top: 150px;">{{pro3}}</h1>
            <p>{{pro3am}}€ raised</p>
            <div class="bar" style="background-color: #CD7F32;"></div>
        </div>
    </div>
</div>
{{> footer}}