

            {{#projects}}
                <div id="portfolio-template" class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <a href="project-details/{{id}}/">
                        <div class="image-portfolio"><img src="https://localhost:8443/projects/{{id}}/images/1" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>{{name}}</h4>
                            <p>{{category}}</p>
                            <a class="details-link" title="More Details"></a>
                        </div>
                    </a>
                </div>
            {{/projects}}

